DB_HOST=your-database-host
DB_USERNAME=your-database-username
DB_PASSWORD=your-database-password

ADMIN_PHONE_NUMBER=your-admin-phone-number

PLAID_CLIENT_ID=your-plaid-client-id
PLAID_SECRET=your-plaid-secret
PLAID_ACCESS_TOKEN=your-plaid-access-token

TWILIO_ACCOUNT_SID=your-twilio-account-sid
TWILIO_AUTH_TOKEN=your-twilio-auth-token
TWILIO_PHONE_NUMBER=your-twilio-phone-number

BINANCE_API_KEY=your-binance-api-key
BINANCE_API_SECRET=your-binance-api-secret

MARKET_STACK_API_KEY=your-market-stack-api-key

FANDANGO_API_KEY=your-fandango-api-key
FANDANGO_SECRET=your-fandango-secret

VALUE_SERP_API_KEY=your-value-serp-api-key
